.example-spacer {
    flex: 1 1 auto;
  }

  .example-button-row {
    margin-right: 50px;
  }

  .nav-btn {
    margin-right: 30px;
    padding-right: 10px;
  }

  .req-btn {
    margin-left: 25px;
  }