<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput type="text" placeholder="Ex. Wallace" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput type="text" placeholder="Ex. Simien" formControlName="lastName">
            </mat-form-field>
        </div>     
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                    <mat-select formControlName="department">
                        <mat-option *ngFor="let dept of departments" [value]="dept"> 
                            {{dept}}
                        </mat-option>     
                    </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let role of roles" [value]="role"> 
                        {{role}}
                    </mat-option>     
                </mat-select>
            </mat-form-field>>
        </div> 
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. wallace.simien@gmail.com" 
                    formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>GL Acct No</mat-label>
                <input matInput type="text" placeholder="897889-001" formControlName="gl_acct_no">
            </mat-form-field>
        </div>  
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" mat-dialog-close="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{empData ? 'Update' : 'Save'}}</button>
    </div>
</form>

