table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;
  }
  
  td, th {
    width: 15%;
  }


  .add-btn{
    margin-top: 10px;
    float: right;
    margin-right: 65px;
  }